name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Ruby ${{ matrix.ruby }}${{ matrix.yjit == 1 && ' +YJIT' || '' }}${{ matrix.mn_threads == 1 && ' +MN' || '' }} ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.2.9"
          - "3.3.10"
          - "3.4.7"
          - "head"

        os:
          - ubuntu-latest
          - macos-latest

        yjit: [0]
        mn_threads: [0]

        include:
          - os: ubuntu-latest
            ruby: "3.4.7"
            mn_threads: 1
          - os: ubuntu-latest
            ruby: "head"
            mn_threads: 1

          - os: ubuntu-latest
            ruby: "3.4.7"
            yjit: 1
          - os: ubuntu-latest
            ruby: "head"
            yjit: 1

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run the default task
        run: bundle exec rake
        timeout-minutes: 5
        env:
          RUBY_YJIT_ENABLE: ${{ matrix.yjit }}
          RUBY_MN_THREADS: ${{ matrix.mn_threads }}
          TESTOPTS: "-v"
